<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8>
	<meta name=description content="Weather from the command line, served by Phil Zona dot Net via DarkSky">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<title>Weather | Phil Zona dot Net</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>
	<div class="container-fluid">
		<div class="section" id="top-section">
			<div class="row text-center">
				<div class="col">
					<h1>Weather</h1>
					<h2>Phil Zona dot Net</h2>
				</div>
			</div>
		</div>

		<div class="section" id="content-first">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<p>
						Phil Zona dot Net Weather serves weather information via Darksky to a command line application built in NodeJS. With the new backend, you can now install it and run weather searches out of the box, no API key needed. Now that I'm in compliance with the DarkSky ToS, development should pick back up. There might or might not be a web version in the future, but for now, enjoy precise, localized weather from the terminal without the headache of a signup or wasting calls on your own key.
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6 col-sm-offset-3 text-center">
					<a href="https://github.com/pbzona/weather-cli">
						<img src="https://camo.githubusercontent.com/141c465d78bb48907c657e309b4bf278b4b6f4da/68747470733a2f2f692e696d6775722e636f6d2f626976507839552e706e673f31" alt="Weather CLI Screenshot">
					</a>
				</div>
			</div>
		</div>

		<div class="row text-center" id="footer-section">
			<small>&copy; 2017 | Phil Zona dot Net</small>
		</div>
	</div>

</body>
</html>