<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8>
	<meta name=description content="Weather from the command line, served by Phizon.io via DarkSky">
	<meta name=viewport content="width=device-width, initial-scale=1">
	<title>Weather | Phizon.io</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/app.css">
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
	<div class="container-fluid">
		<div class="section" id="top-section">
			<div class="row text-center">
				<div class="col">
					<h1>Weather</h1>
					<a href="https://blog.phizon.io"><h2>phizon.io</h2></a>
				</div>
			</div>
		</div>

		<div class="section" id="content-first">
			<div class="row">
				<hr/>
				<div class="col-sm-6 col-sm-offset-3">
					<p>
						phizon.io now serves weather information via Dark Sky to a command line application built in NodeJS. With the new backend, you can now install it and run weather searches out of the box, no API key needed.
					</p>
					<p>
						Be aware that I'm providing only the default level of access (up to 1000 calls per day across all users), so be nice and don't use my endpoint for third party apps. I'd like to implement an auth system soon to make sure this doesn't become an issue.
					</p>
					<p>
						Now that I'm in compliance with the DarkSky ToS, development should pick back up. There might or might not be a web version in the future, but for now, enjoy precise, localized weather from the terminal without changing a single line of code.
					</p>
				</div>
				<hr/>
			</div>

			<div class="row">
				<div class="col-sm-6 col-sm-offset-3 text-center">
					<a href="https://github.com/pbzona/weather-cli">
						<img src="/images/screenshot.png" alt="Weather CLI Screenshot">
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3 text-center">
					<a class="btn btn-default" href="https://github.com/pbzona/weather-cli">
							Check It Out on Github
					</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6 col-sm-offset-3 text-center">
				<a href="https://darksky.net/poweredby/">
					<img id="attribution" src="/images/darksky.png">
				</a>
			</div>
		</div>

		<div class="row text-center" id="footer-section">
			<small>&copy; 2018 | phizon.io</small>
		</div>
	</div>

</body>
</html>